{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
{% set viewEntity = row.content['#view'].style_plugin.render_tokens[loop.index0] %}
      <!--Page Header Start-->
        <section class="page-header" style="background-image: url({{ view.field.field_hero_image.original_value }});">
        
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="{{ url('<front>') }}">Home</a></li>
                        <li><span>/</span></li>
                        <li>{{ viewEntity['{{ field_main_heading }}']|striptags|trim|raw }} </li>
                    </ul>
                    <h2>{{ viewEntity['{{ field_main_heading }}']|striptags|trim|raw }}</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->
{% endfor %}
